*{
    padding: 0;
    margin: 0;
    font-family: Montserrat;
  }

  header {
    background-image: url(https://cdn.glitch.com/fc7312bd-34f2-4704-839d-e839fd4b4cb8%2Forange-and-yellow-packrafts-rubber-boats-FVW54MR.jpg);
    background-size: cover;
    height: 100%;
    position: relative;
  }

  header::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    bottom: 0;
  }

  .container {
    position: relative;
    z-index: 1;
    padding: 40px 70px;
  } 

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 170px;
  }
  
  .navbar img {
    width: 190px;
  }
  
  .navbar a{
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 70px;
  }
  
  .container h1{
    font-size: 110px;
    color: white;
    text-align: center;
    margin-bottom: 220px;
  }
  
  .text1{
    display: flex;
    justify-content: center;
  }
  
  .container p {
    font-size: 27px;
    color: white;
    width: 680px;
    text-align: center;
    margin-bottom: 70px;
  }
  
  .container2 {
    background-image: url(https://cdn.glitch.com/fc7312bd-34f2-4704-839d-e839fd4b4cb8%2Filustrasi%20rafting.png);
    position: relative;
    background-size: cover;
    width: 100%;
    height: 500px;
  }

  .page1 h1{
    padding-top: 30px;
    padding-left: 60px;
    font-size: 60px;
    color: rgb(238, 141, 13);
    margin-bottom: 35px;
  }
  
  .page1 p{
    padding-left: 60px;
    width: 630px;
    line-height: 47px;
    font-size: 23px;
    margin-bottom: 250px;
  }
  
  .container3{
    padding: 100px 70px 0px 70px;
    font-family: Montserrat;
  }
  
  .page2{
    display: flex;
    justify-content: space-between;
  }
  
  .image1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .page2 img{
    width: 500px;
  }

  .image1 button{
    width: 400px;
    height: 80px;
    border: 10px solid rgb(238, 92, 13);
    border-radius: 10px;
    background-color: rgb(238, 92, 13);
    cursor: pointer;
    font-size: 40px;
    font-weight: 600;
    transition: 0.3s;
    color: white;
    margin-top: 70px;
  }

  .image1 button:hover{
    background-color: white;
    color: rgb(238, 92, 13);
  }

  .text2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .page2 h1{
    font-size: 60px;
    color: rgb(238, 141, 13);
    margin-bottom: 70px;
    width: 500px;
    text-align: right;
  }
  
  .page2 p{
    width: 630px;
    line-height: 47px;
    font-size: 23px;
    margin-bottom: 120px;
    text-align: right;
  }
  
  .container4{
    padding: 90px 70px 50px 70px;
    background-color: rgb(238, 92, 13);
    font-family: Montserrat;
  }
  
  .page3{
    display: flex;
    justify-content: space-between;
  }
  
  .page3 h1{
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
    width: 450px;
  }
  
  .page3 p{
    width: 630px;
    line-height: 47px;
    font-size: 23px;
    margin-bottom: 70px;
    width: 580px;
    color: white;
  }
  
  .page3 button {
    width: 330px;
    height: 90px;
    border: 10px solid white;
    border-radius: 10px;
    background-color: rgb(238, 92, 13);
    cursor: pointer;
    transition: 0.3s;
    font-size: 35px;
    font-weight: 600;
    color: white;
  }

  .page3 button:hover {
    background-color: white;
    color: rgb(238, 92, 13); 
  }
  
  .image2{
    display: flex;
    flex-direction: column;
  }
  
  .img1{
    width: 400px;
    margin-left: -100px;
    z-index: 100;
  }
  
  .img2{
    width: 450px;
    margin-top: -50px;
    z-index: 2;
  }
  
  .container5{
    padding: 50px 70px 70px 70px;
    font-family: Montserrat;
  }
  
  footer{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  footer img{
    width: 180px;
  }
  
  footer h1{
    /*font-family: 'Bungee', cursive;*/
    color: rgb(238, 92, 13);
  }
  
  footer h3{
    color: rgb(238, 92, 13);
    line-height: 30px;
  }
  
  footer p{
    line-height: 30px;
    font-size: 20px;
    color: rgb(238, 141, 13);
  }

  .contact {
    background-color: rgb(238, 92, 13);
  }

  .container6 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .container6 svg {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .copy{
    margin-bottom: 20px;
  
  }
  
  .copy p{
    font-size: 20px;
    color: rgb(238, 141, 13);
    text-align: center;
    font-family:Montserrat;
  }
  
  